
.a_la_francaise{
    background-image: url(../images/restaurants/a_la_francaise.jpg);
}
.la_palette_du_gout{
    background-image: url(../images/restaurants/la_palette_du_gout.jpg);
}
.le_delice_des_sens{
    background-image: url(../images/restaurants/le_delice_des_sens.jpg);
}
.la_note_enchantee{
    background-image: url(../images/restaurants/la_note_enchantee.jpg);
}
.image{
    height: 250px;
    background-size: cover;
}
.menu{
    @include flexbox ($flex-direction: column);
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 25px;
    background-color: $color-grey;
    padding: 15px;
    padding-bottom: 0%;
    gap: 20px;
    
    &__title{
        @include flexbox ($justify-content: space-between);
        margin-bottom: 35px;
        width: 100%;
        font-size: $large-font;
        & i{
            padding: 0;
            font-size: 25px;
            position: relative;
            right: 8px;
           
        }
    }
    &__group{
        &--title{
            font-size: $normal-font;
            text-transform: uppercase;
            font-weight: 400;
        }
        &--separate{
            display: block;
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
        }
    }
    &__card{
        display: flex;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 2px 12px $color-shadow;
        width: 100%;
        overflow: hidden; 
        animation: apparition 0.8s ease-out;
        & a{
            display: flex;
            width: inherit;
            
        }    
        &--text{
            flex-basis: 85%;
            line-height: 25px;
            font-size: $normal-font;
            padding: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            & h3{
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            & span{
                font-weight: 400;
            }
        }
        &--price{
            @include flexbox ($justify-content: center,$align-items: end);
            font-size: $normal-font;
            padding: 12px;
            flex-basis: 15%;
        }
        &--animation{
            background-color: $color-tertiary;
            margin-right: -50px;
            transition: margin-right 1.2s;
            width: 50px;
            @include flexbox ($align-items: center);
            
            
            & i{
                display: flex;
                align-items: center;
                color: darken($color: $color-tertiary, $amount: 50%);
                
            }
        }
    }
}


