@mixin box-shadow{
    box-shadow: 0px 2px 5px $color-shadow;
}
@mixin flexbox ($flex-direction: row, $justify-content: flex-start, $align-items: baseline ){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;

}