$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-grey: #f3f3f3;
$color-dark: #313131;
$color-shadow: #c3c3c3;
$xl-font: 25px;
$normal-font: 13px;
$large-font: 15px;
